# Rust build output
/target/
**/*.rs.bk

# Ignore everything in examples
/examples/*
# Allow the examples directory itself
!/examples/
# Allow .c files inside /examples
!/examples/*.c


# IDE/editor files
.idea/
.vscode/
*.swp
*.swo
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Misc
*.log
